<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.icesoft.faces.concurrentDOMViews</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.icesoft.faces.debugDOMUpdate</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.icesoft.faces.uploadMaxFileSize</param-name>
        <param-value>4048576</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.icesoft.faces.synchronousUpdate</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>





    <servlet>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Blocking Servlet</servlet-name>
        <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Feeder</servlet-name>
        <servlet-class>rss.Feeder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLProcesser</servlet-name>
        <servlet-class>xml.XMLProcesser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>/xmlhttp/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>*.iface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>*.jspx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadHtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feeder</servlet-name>
        <url-pattern>/rss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blocking Servlet</servlet-name>
        <url-pattern>/block/*</url-pattern>
        <url-pattern>/block/receive-updated-views</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLProcesser</servlet-name>
        <url-pattern>/xml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>listar.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error-url.xhtml</location>
    </error-page>
    <security-constraint>
        <display-name>Administracion total del sistema</display-name>
        <web-resource-collection>
            <web-resource-name>Inicio</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Datos auxiliares</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/DatosAuxiliares/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Cuerpos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/DatosEntrega/*</url-pattern>
            <url-pattern>/DatosAuxiliares/DatosFacturacion/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Departamentos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/EntidadesFinanciadoras/*</url-pattern>
            <url-pattern>/DatosAuxiliares/EspecialidadesLaborales/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Grupos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Organismos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Productos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Proveedores/*</url-pattern>
            <url-pattern>/DatosAuxiliares/PuestosTrabajo/*</url-pattern>
            <url-pattern>/DatosAuxiliares/TiposProyecto/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Compras</web-resource-name>
            <description/>
            <url-pattern>/compras/*</url-pattern>
            <url-pattern>/compras/consultar/*</url-pattern>
            <url-pattern>/compras/editar/*</url-pattern>
            <url-pattern>/compras/listar/*</url-pattern>
            <url-pattern>/compras/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Cultura cientifica</web-resource-name>
            <description/>
            <url-pattern>/culturacientifica/*</url-pattern>
            <url-pattern>/culturacientifica/editar/*</url-pattern>
            <url-pattern>/culturacientifica/listar/*</url-pattern>
            <url-pattern>/culturacientifica/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Investigador</web-resource-name>
            <description/>
            <url-pattern>/investigador/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/editar/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/listar/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/ver/*</url-pattern>
            <url-pattern>/investigador/pedidos/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Personal</web-resource-name>
            <description/>
            <url-pattern>/personal/*</url-pattern>
            <url-pattern>/personal/consultar/*</url-pattern>
            <url-pattern>/personal/editar/*</url-pattern>
            <url-pattern>/personal/listar/*</url-pattern>
            <url-pattern>/personal/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Proyectos</web-resource-name>
            <description/>
            <url-pattern>/proyectos/*</url-pattern>
            <url-pattern>/proyectos/consultar/*</url-pattern>
            <url-pattern>/proyectos/editar/*</url-pattern>
            <url-pattern>/proyectos/listar/*</url-pattern>
            <url-pattern>/proyectos/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Inventario</web-resource-name>
            <description/>
            <url-pattern>/inventario/*</url-pattern>
            <url-pattern>/inventario/registrarentrada/*</url-pattern>
            <url-pattern>/inventario/registrarsalida/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>adm</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Gerencia</display-name>
               <web-resource-collection>
            <web-resource-name>Inicio</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Datos auxiliares</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/DatosAuxiliares/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Cuerpos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/DatosEntrega/*</url-pattern>
            <url-pattern>/DatosAuxiliares/DatosFacturacion/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Departamentos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/EntidadesFinanciadoras/*</url-pattern>
            <url-pattern>/DatosAuxiliares/EspecialidadesLaborales/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Grupos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Organismos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Productos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Proveedores/*</url-pattern>
            <url-pattern>/DatosAuxiliares/PuestosTrabajo/*</url-pattern>
            <url-pattern>/DatosAuxiliares/TiposProyecto/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Compras</web-resource-name>
            <description/>
            <url-pattern>/compras/*</url-pattern>
            <url-pattern>/compras/consultar/*</url-pattern>
            <url-pattern>/compras/editar/*</url-pattern>
            <url-pattern>/compras/listar/*</url-pattern>
            <url-pattern>/compras/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Cultura cientifica</web-resource-name>
            <description/>
            <url-pattern>/culturacientifica/*</url-pattern>
            <url-pattern>/culturacientifica/editar/*</url-pattern>
            <url-pattern>/culturacientifica/listar/*</url-pattern>
            <url-pattern>/culturacientifica/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Personal</web-resource-name>
            <description/>
            <url-pattern>/personal/*</url-pattern>
            <url-pattern>/personal/consultar/*</url-pattern>
            <url-pattern>/personal/editar/*</url-pattern>
            <url-pattern>/personal/listar/*</url-pattern>
            <url-pattern>/personal/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Proyectos</web-resource-name>
            <description/>
            <url-pattern>/proyectos/*</url-pattern>
            <url-pattern>/proyectos/consultar/*</url-pattern>
            <url-pattern>/proyectos/editar/*</url-pattern>
            <url-pattern>/proyectos/listar/*</url-pattern>
            <url-pattern>/proyectos/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>gerencia</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Secretaria</display-name>
                <web-resource-collection>
            <web-resource-name>Inicio</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

        <web-resource-collection>
            <web-resource-name>Compras</web-resource-name>
            <description/>
            <url-pattern>/compras/*</url-pattern>
            <url-pattern>/compras/consultar/*</url-pattern>
            <url-pattern>/compras/listar/*</url-pattern>
            <url-pattern>/compras/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>


        <web-resource-collection>
            <web-resource-name>Personal</web-resource-name>
            <description/>
            <url-pattern>/personal/*</url-pattern>
            <url-pattern>/personal/consultar/*</url-pattern>
            <url-pattern>/personal/listar/*</url-pattern>
            <url-pattern>/personal/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Proyectos</web-resource-name>
            <description/>
            <url-pattern>/proyectos/*</url-pattern>
            <url-pattern>/proyectos/consultar/*</url-pattern>
            <url-pattern>/proyectos/listar/*</url-pattern>
            <url-pattern>/proyectos/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>secretaria</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Edicion de proyectos</display-name>
                <web-resource-collection>
            <web-resource-name>Inicio</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Datos auxiliares</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/DatosAuxiliares/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Departamentos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/EntidadesFinanciadoras/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Organismos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/TiposProyecto/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Compras</web-resource-name>
            <description/>
            <url-pattern>/compras/*</url-pattern>
            <url-pattern>/compras/consultar/*</url-pattern>
            <url-pattern>/compras/listar/*</url-pattern>
            <url-pattern>/compras/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Personal</web-resource-name>
            <description/>
            <url-pattern>/personal/*</url-pattern>
            <url-pattern>/personal/consultar/*</url-pattern>
            <url-pattern>/personal/listar/*</url-pattern>
            <url-pattern>/personal/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Proyectos</web-resource-name>
            <description/>
            <url-pattern>/proyectos/*</url-pattern>
            <url-pattern>/proyectos/consultar/*</url-pattern>
            <url-pattern>/proyectos/editar/*</url-pattern>
            <url-pattern>/proyectos/listar/*</url-pattern>
            <url-pattern>/proyectos/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>proyectos</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Edicion de compras</display-name>
                <web-resource-collection>
            <web-resource-name>Inicio</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Datos auxiliares</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/DatosAuxiliares/*</url-pattern>
            <url-pattern>/DatosAuxiliares/DatosEntrega/*</url-pattern>
            <url-pattern>/DatosAuxiliares/DatosFacturacion/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Productos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Proveedores/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Compras</web-resource-name>
            <description/>
            <url-pattern>/compras/*</url-pattern>
            <url-pattern>/compras/consultar/*</url-pattern>
            <url-pattern>/compras/editar/*</url-pattern>
            <url-pattern>/compras/listar/*</url-pattern>
            <url-pattern>/compras/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Personal</web-resource-name>
            <description/>
            <url-pattern>/personal/*</url-pattern>
            <url-pattern>/personal/consultar/*</url-pattern>
            <url-pattern>/personal/listar/*</url-pattern>
            <url-pattern>/personal/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Proyectos</web-resource-name>
            <description/>
            <url-pattern>/proyectos/*</url-pattern>
            <url-pattern>/proyectos/consultar/*</url-pattern>
            <url-pattern>/proyectos/listar/*</url-pattern>
            <url-pattern>/proyectos/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>compras</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Edicion de personal</display-name>
                <web-resource-collection>
            <web-resource-name>Inicio</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Datos auxiliares</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/DatosAuxiliares/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Cuerpos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Departamentos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/EspecialidadesLaborales/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Grupos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/Organismos/*</url-pattern>
            <url-pattern>/DatosAuxiliares/PuestosTrabajo/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Compras</web-resource-name>
            <description/>
            <url-pattern>/compras/*</url-pattern>
            <url-pattern>/compras/consultar/*</url-pattern>
            <url-pattern>/compras/listar/*</url-pattern>
            <url-pattern>/compras/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Personal</web-resource-name>
            <description/>
            <url-pattern>/personal/*</url-pattern>
            <url-pattern>/personal/consultar/*</url-pattern>
            <url-pattern>/personal/editar/*</url-pattern>
            <url-pattern>/personal/listar/*</url-pattern>
            <url-pattern>/personal/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Proyectos</web-resource-name>
            <description/>
            <url-pattern>/proyectos/*</url-pattern>
            <url-pattern>/proyectos/consultar/*</url-pattern>
            <url-pattern>/proyectos/listar/*</url-pattern>
            <url-pattern>/proyectos/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>personal</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Investigadores</display-name>
        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Investigador</web-resource-name>
            <description/>
            <url-pattern>/investigador/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/editar/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/listar/*</url-pattern>
            <url-pattern>/investigador/culturacientifica/ver/*</url-pattern>
            <url-pattern>/investigador/pedidos/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>investigador</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Cultura cientifica</display-name>
        <web-resource-collection>
            <web-resource-name>Inicio</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Cultura cientifica</web-resource-name>
            <description/>
            <url-pattern>/culturacientifica/*</url-pattern>
            <url-pattern>/culturacientifica/consultar/poranio/*</url-pattern>
            <url-pattern>/culturacientifica/editar/*</url-pattern>
            <url-pattern>/culturacientifica/listar/*</url-pattern>
            <url-pattern>/culturacientifica/ver/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Usuarios</web-resource-name>
            <description/>
            <url-pattern>/Usuarios/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>culturacientifica</role-name>
            </auth-constraint>
        </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name/>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error-login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Todos los privilegios sobre los datos almacenados.</description>
        <role-name>gerencia</role-name>
    </security-role>
    <security-role>
        <description>TODOS LOS PRIVILEGIOS</description>
        <role-name>adm</role-name>
    </security-role>
    <security-role>
        <description>Ver datos de personal, compras y proyectos.</description>
        <role-name>secretaria</role-name>
    </security-role>
    <security-role>
        <description>Edición de proyectos</description>
        <role-name>proyectos</role-name>
    </security-role>
    <security-role>
        <description>Gente de servicios, tipo informático, etc...</description>
        <role-name>servicios</role-name>
    </security-role>
    <security-role>
        <description>Rol de investigador para realizar pedidos, cultura cientifica, etc, etc</description>
        <role-name>investigador</role-name>
    </security-role>
    <security-role>
        <description>Edición del módulo de compras</description>
        <role-name>compras</role-name>
    </security-role>
    <security-role>
        <description>Edición de personal</description>
        <role-name>personal</role-name>
    </security-role>
    <security-role>
        <description>Gestión de la cultura cientifica</description>
        <role-name>culturacientifica</role-name>
    </security-role>
    </web-app>
